/* ==UserStyle==
@name           Bearable lisam
@namespace      github.com/thezoq2/bearable-lisam
@version        1.1.0
@description    Removes all the stupid static unactionable things that don't hide when you scroll on lisam. Who thought a like button on a static page was a good idea, especially when you can't hide it
@author         Frans Skarman
==/UserStyle== */

@-moz-document url-prefix("https://liuonline.sharepoint.com/sites/Studentportalen") {
    /* Hide the bar with the like button */
    [class^="footerBar"],
    /* Hide the thing at the top that only contains a "published" text and a button to send the current page by email. */
    .SPPageChrome-app .ms-CommandBar,
    /* The huge banner that only contains the words "student portal" */
    [class^="mainRow"],
     /* Language selection useful sure, but why is it floating?*/
    [class^="studentsHeader"],
    /* Footer on the bottom of the page whose only purpose is to contain a button for sending an email for help */
    [class^="portalFooter"]
    {
        display: none;
        height: 0;
    }
}

@-moz-document url-prefix("https://www.student.ladok.se/student/#"){
    /* This styling removes the unnecessary padding all over the place in the courses page.
        Before this change only like 6 courses could fit the screen. Now you can see around 15 of them.*/
    .card
    {
        padding: 0px 10px;
        margin-bottom: 10px;
        border-left: none;
        border-right: none;
        border-top:none;
    }
    .card-body
    {
        padding: 3px;
        display:flex;
        justify-content: space-between;
    }
    
    /* Hide the useless white space around cards */
    .card-body h4,
    .card-body p
    {
        margin: 0;
    }
}
